@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('simon-berger-twukN12EN7c-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.container{
    margin-top: 50px;
    border-radius: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.133);
    border:1px solid rgb(236, 115, 174);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px rgba(29, 29, 29, 0.203);
}
.content{
    margin-top: 0;
}
.content {
    max-width: 800px;
    text-align: center;
}
.container h2{
    font-size: 46px;
    font-weight: 700;
    
    color:rgb(14, 14, 14);

}
.container h3{
    font-size: 20px;
    font-weight: 500;
    
    color:rgb(18, 18, 18);

}
.text p{
    font-size: 15px;
    font-weight: 400;
    color:rgb(11, 11, 11);
    
}